.blockquotes {
  float: left;
  width: 20%;
  margin: 1%;
}

.card-title {
  color: white;
  text-align: center;
}

.card-text {
  color: white;
  text-align: center;
}

.card {
  background-color: darkred;
}

.card img {
  width: 100%;
}

img {
  width:95%;
  boar
}

.container {
  text-align: center;
  
}

h2 {
  text-align: center;
  background-color: black;
  padding: 10px;
  color: bisque;
}